{% extends 'layout.twig' %}

{% block title %}
     accueil
{% endblock %}
{% import 'forms.twig' as forms %}

{% block content %}
<h1 class="text-center mt-5">Bienvenue sur mon blog ! {% if session.user_id is defined %}
     {{session.username}}
     {% else %}
     Visiteur
     {% endif %}</h1><br>

<h2 class="text-center mt-5">Padawan développeuse, Jedi développeuse un jour sera.</h2>
<h4 class="text-center">(Maitre Yoda)</h4><br>

<div class="row mb-5">
     <div class="col text-center"><img src="public/images/logo.png" width="70%" alt=""></div>
     <div class="col"><p class="text-center m-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sunt corrupti vitae modi nam quae quaerat nobis 
          ab magnam eaque laborum, beatae doloribus, atque eveniet voluptatem vero, sequi repudiandae odit.</p>
          <p class="text-center m-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut asperiores cum, veniam totam quas beatae, esse repellat tempore nemo deserunt saepe labore
           animi accusamus dolore corporis quia reiciendis ipsum possimus.</p>
           <p class="text-center m-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut asperiores cum, veniam totam quas beatae, esse repellat tempore nemo deserunt saepe labore
               animi accusamus dolore corporis quia reiciendis ipsum possimus.</p>
     </div>
     
</div>




<div class="row mb-5">
     <div class="col-6">
          <div class="card mx-2 mb-2" >
               <img src="public/images/poppies.jpg" class="card-img-top" alt="poppies">
              <div class="card-body ">
     
                  <h3 class="card-title">Qui suis-je?</h3>
                  
                  <p class="card-text">
                    <div class="row">
                         <div class="col-4">
                              <div class="card">
                                   <img src="public/images/portrait.jpg" class="card-img-top pb-3" alt="portrait">
                                   <h5 class="card-title text-center px-3">Sandrine Paris</h5>
                              </div>
                         </div>
                         <div class="col pt-3">
                              Actuellement en formation "Développeur d'application - PHP / Symfony" au sein de l'école en ligne 
                         OpenClassrooms. Cette formation me permettra de maitriser le framework Symfony et d'obtenir un titre 
                         de "Développeur d'application" de niveau II, équivalent à un bac +3/4.
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sunt corrupti vitae modi nam quae quaerat nobis 
                         ab magnam eaque laborum, beatae doloribus, atque eveniet voluptatem vero, sequi repudiandae odit.
                         </div>
                    </div>
                   </p>
                    
              </div>
             </div >
      </div>
      <div class="col-6">
          <div class="card mx-2 mb-2" >
               <img src="public/images/mountains.jpg" class="card-img-top" alt="mountains">
              <div class="card-body ">
     
                  <h3 class="card-title">Mon parcours</h3>
                  
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sunt corrupti vitae modi nam quae quaerat nobis 
                    ab magnam eaque laborum, beatae doloribus, atque eveniet voluptatem vero, sequi repudiandae odit.</p>
                    <a href="#" class="card-link">vers mon CV</a>
                    
              </div>
             </div >
      </div>
</div>

<div class="row">
     <div class="col-6">
          <div class="card mx-2 mb-2" >
               <img src="public/images/code.jpg" class="card-img-top" alt="code">
              <div class="card-body ">
     
                  <h3 class="card-title">Lorem ipsum dolor</h3>
                  
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sunt corrupti vitae modi nam quae quaerat nobis 
                    ab magnam eaque laborum, beatae doloribus, atque eveniet voluptatem vero, sequi repudiandae odit.</p>
                    
              </div>
             </div >
      </div>
      <div class="col-6">
          <div class="card mx-2 mb-2" >
               <img src="public/images/laptop.jpg" class="card-img-top" alt="laptop">
              <div class="card-body ">
     
                  <h3 class="card-title">Ipsum voluptates</h3>
                  
                  <p class="card-text">
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus placeat similique eligendi? 
                   Hic quos consequatur adipisci esse sint nesciunt id quaerat perferendis eaque. Ipsum voluptates 
                   possimus perferendis. Harum, molestias natus.</p>
                    
                    
              </div>
             </div >
      </div>
</div>

<h4 class="text-center my-5">Me contacter :</h4>
<div class="row">
     <div class="col-2 "></div>
     <div class="col-8 ">
          <form action="#" method="post">
               <div class="row">
                    {{ forms.input ('firstname', 'Votre nom', firstname, {class: 'col-6'}) }}
                    {{ forms.input ('surnamename', 'Votre prénom', surname, {class: 'col-6'}) }}
               </div>
               <div class="row">
                    {{ forms.input ('email', 'Votre email', email,  {class: 'col-6', type: 'email'}) }}
                    {{ forms.input ('object', 'Objet du message', object, {class: 'col-6'}) }}
               </div>
               {{forms.textarea('message', 'Votre message', '1','10', message, {class: 'col-12'}) }}
               <div class="form-group mt-5">
                    <button type="submit" class="btn bg-secondary text-light d-block mx-auto" >Envoyer</button>
               </div>
          </form>
     </div>
     <div class="col-2"></div>
    
</div>



{% endblock %}




