{% extends 'layout.twig' %}

{% block title %}
     detail post
{% endblock %}

{% import 'forms.twig' as forms %}

{% block content %}

<h1>Mon super super blog !</h1>
<p>Detail du billet :</p>
<p><a href="index.php">retour accueil</a></p>
<p><a href="index.php?action=postlist">retour à la liste des billets</a></p>

<div class="card mb-2" style="width: 50rem;">
     <div class="card-body ">
         <h3 class="card-title bg-primary text-light">{{post.getTitle}}</h3>
         <h5 class="card-subtitle mb-2 text-mutetd">le : {{post.getFrench_creation_date}}</h5>
         <p class="card-text">{{post.getChapo}}</p>
         <p class="card-text">{{post.getContent}}</p>
         <p class="card-footer">Par : {{post.getUsername}}</p>
     </div>
</div >

<form action="index.php?action=addComment&id={{post.getIdentifier}}" method="post">
     <div class="row">
          {{ forms.input ('name', 'votre nom', name, {class: 'col-4'}) }}
          {{ forms.input ('email', 'votre email', email,  {class: 'col-4', type: 'email'}) }}
         
     </div>
     {{forms.textarea('message', 'votre commentaire', '1','10', comment, {class: 'col-8'}) }}
     <div class="form-group">
          <button type="submit" class="btn btn-primary">Envoyer</button>
     </div>

</form>

     {% for comment in comments %}
     <div class="card mb-2" style="width: 20rem;">
          <div class="card-body ">
              <h3 class="card-title ">{{comment.getUsername}}</h3>
              <h5 class="card-subtitle mb-2 text-mutetd">le : {{comment.getFrenchCreationDate}}</h5>
              <p class="card-text">{{comment.getComment}}</p>
              <a href="index.php?action=updateComment&id={{comment.getIdentifier}}" class="card-link">modifier</a>
          </div>
     </div >
     {% endfor %}



{% endblock %}

