{% extends 'layout.twig' %}

{% block title %}
     detail post
{% endblock %}


{% block content %}

<h1>Mon super super blog !</h1>
<p>Detail du billet :</p>
<p><a href="index.php">retour accueil</a></p>
<p><a href="index.php?action=postlist">retour à la liste des billets</a></p>

<div class="card mb-2" style="width: 50rem;">
     <div class="card-body ">
         <h3 class="card-title bg-primary text-light">{{post.getTitle}}</h3>
         <h5 class="card-subtitle mb-2 text-mutetd">le : {{post.getFrench_creation_date}}</h5>
         <p class="card-text">{{post.getChapo}}</p>
         <p class="card-text">{{post.getContent}}</p>
         <p class="card-footer">Par : {{post.getUsername}}</p>
        
     </div>
 
    </div >



{% endblock %}

