{% extends 'layout.twig' %}

{% block title %}
     liste posts
{% endblock %}

{% block content %}

<img src="public/images/blog.jpg" class="rounded img-fluid mx-auto d-block my-5 shadow" alt="blog" id="blog">
<h2 class="text-center">Derniers articles du blog :</h2>
<br>

<div class="row mt-5">
    
        {% for post in posts %}
        <div class="col-12 col-md-6 mb-3">
            <div class="card mx-2 mb-2 h-100" >
                <div class="card-body ">
                    <h3 class="card-title">{{post.getTitle}}</h3>
                    <h6 class="card-subtitle mb-2 text-mutetd">Le : {{post.getFrench_creation_date}}</h6>
                    <p class="card-text">{{post.getChapo}}</p>
                    <p class="card-footer">Par : {{post.getUsername}}</p>
                    <a href="index.php?action=onepost&id={{post.getIdentifier}}" class="btn card-link">Voir la suite ...</a>
                </div>
               </div >
        </div>
        
         {% endfor %}
   
</div>

  

{% endblock %}

