{% extends 'layout.twig' %}

{% block title %}
    modification article
{% endblock %}
{% import 'forms.twig' as forms %}

{% block content %}
<h3>article à modifier :</h3>
<form action="index.php?action=updatepost&id={{post.getIdentifier}}" method="post">
    <div class="row">
        {{ forms.input ('title', 'Titre', post.getTitle, {class: 'col-12'}) }}
   </div>
   <div class="row">
        {{forms.textarea('chapo', 'Le chapô', '1','10', post.getChapo, {class: 'col-12'}) }}
   </div>
   {{forms.textarea('content', 'Contenu de l\'article', '1','10', post.getContent, {class: 'col-12'}) }}
   
   Auteur : {{session.username}}
   <div class="form-group">
        <button type="submit" class="btn">modifier</button>
   </div>
</form>

{% endblock %}